services:
  live-app:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./src:/app/src:ro
      - ./data:/app/data:ro
      - ./static:/app/static:ro
      - ./models:/app/models:ro
      - ./landmarkers:/app/landmarkers:ro
      - ./logs:/app/logs:rw

    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: 2G
        reservations:
          cpus: "0.5"
          memory: 512M

    restart: unless-stopped

  docs:
    image: sec77/perlite:latest
    container_name: arsl-docs
    restart: unless-stopped
    environment:
      - NOTES_PATH=arsl-docs
      - HIDE_FOLDERS=docs,private,trash
      - HIDDEN_FILE_ACCESS=false
      - LINE_BREAKS=true
      - ABSOLUTE_PATHS=false
      - ALLOWED_FILE_LINK_TYPES=pdf,mp4
      - HIGHLIGHTJS_LANGS=powershell
      - DISABLE_POP_HOVER=false
      - NICE_LINKS=true
      - SHOW_TOC=true
      - SHOW_LOCAL_GRAPH=true
      - HOME_FILE=README
      - FONT_SIZE=15
      - HTML_SAFE_MODE=true
      - ZETTELKASTEN_FILENAMES_ENABLED=false
      - TEMP_PATH=/tmp
      - SITE_TITLE=ArSl-docs
      - SITE_TYPE=article
      - SITE_URL=
      - SITE_IMAGE=
      - SITE_DESC=
      - SITE_NAME=ArSl-docs
      - SITE_TWITTER=#
      - SITE_LOGO=perlite.svg
      - SITE_HOMEPAGE=https://yousefelkilany.com
      - SITE_GITHUB=https://github.com/yousefelkilany/word-level-arabic-sign-language/
    volumes:
      - ./docs:/var/www/perlite/arsl-docs:ro

  nginx:
    image: nginx:stable
    container_name: arsl-docs-nginx
    restart: unless-stopped
    ports:
      - 8080:80
    volumes:
      - ./perlite-ngnix.conf:/etc/nginx/conf.d/default.conf:ro
    volumes_from:
      - docs
    depends_on:
      - docs
