services:
  app:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      # TODO: move fastapi app src files into app or src directory instead of root
      - .:/app
    restart: unless-stopped
