services:
  app:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./src:/app/src:ro
      - ./data:/app/data:ro
      - ./static:/app/static:ro
      - ./models:/app/models:ro
      - ./landmarkers:/app/landmarkers:ro
      - ./logs:/app/logs:rw

    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: 2G
        reservations:
          cpus: "0.5"
          memory: 512M

    restart: unless-stopped
